
@model PagedList.IPagedList<BitirmeProje.Models.BLOGLAR>
@using PagedList.Mvc
@{
    ViewBag.Title = "Home Page";
}
<h1>Hoşgeldiniz</h1>
<!--Başlık Kısmı-->
<section class="site-section-hero bg-image " style="background-image: url('../../images/hero-min.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 text-center">
            <h1 class=" heading text-uppercase text-white" data-aos="fade-up">Benim Kişisel Sitem ve Blogum.</h1>
            <p class="lead text-white mb-4" data-aos="fade-up" data-aos-delay="100">Bu Siteden Benim<a href="/Home/Index#section-about">hakkımda bilgi</a>  benimle <a href="/Home/Index#section-contact">iletişim </a>  ve <a href="/Home/Index#section-blog">blog yazılarımı </a> okuyabilirsiniz</p>
            <p data-aos="fade-up" data-aos-delay="100"><a href="#section-contact" class="btn btn-primary btn-md smoothscroll">Github Adresim</a></p>
        </div>
    </div>
</section>



<section class="site-section" id="section-about">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <!-- <h2 class="heading">About</h2> -->

                <img src="~/images/logo.jpg" alt="Image" class="img-fluid mb-4 w-50 rounded-circle">

                <div data-aos="fade-up" data-aos-delay="100">
                    <h2 class="">Selamlar Ben Onur!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor aperiam a velit. Harum eligendi quod reiciendis quos ullam libero est dolor, <a href="#">corporis dolores assumenda</a>, delectus, quidem voluptatibus dolorum temporibus enim!</p>
                    <p>Neque facilis soluta, accusantium quaerat, adipisci porro animi, hic fugiat id vero placeat dolorem accusamus sapiente odio consequatur debitis beatae eius quos alias. In recusandae magnam quis ipsum, asperiores mollitia!</p>
                    <h3 class=" mt-5">Services</h3>

                    <div class="d-block d-md-flex mt-5">
                        <div class="mr-md-auto mr-2">
                            <ul class="ul-check list-unstyled primary">
                                <li>Optio eveniet ex laborum</li>
                                <li>Inventore sapiente tenetur</li>
                                <li>Ipsam aliquam esse</li>
                            </ul>
                        </div>
                        <div class="mr-md-auto">
                            <ul class="ul-check list-unstyled primary">
                                <li>Optio eveniet ex laborum</li>
                                <li>Inventore sapiente tenetur</li>
                                <li>Ipsam aliquam esse</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Referance-->
<!--Blog-->

<h3 class="alert"></h3>
<section class="site-section" id="section-blog">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="row">
                    <h2 class="heading" data-aos="fade-up"><a href="@Url.Action("BlogKontrol")">Tüm Bloglar</a></h2>
                    @foreach (var item in Model)
                    {


                        <div class="col-md-12 mb-4" data-aos="fade-up">
                            <div class="d-md-flex d-block blog-entry align-items-start">
                                <div class="mr-0 mr-md-5 mb-3 img-wrap"><a href="#"><img src="~/images/@item.BLOGLOGO" alt="Image" class="img-fluid mb-0"></a></div>
                                <div>
                                    <h2 class="mt-0 mb-2"><a href="@Url.Action("BlogIzle",new { id=item.BLOGID})">@Html.DisplayFor(modelItem => item.BLOGAD)</a></h2>
                                    <div class="meta mb-3">
                                        Post Yazar
                                        @*
        @if (item.UYEID == null) {
            @if (item.UYEID == item.UYELER.ID )
            {
                <b> @item.UYELER.UYEAD</b>
            }
        }
        <a href="#">@item.BLOGDATE</a>
                                        *@
                                    </div>
                                    <p>@Html.DisplayFor(modelItem => item.BLOGKUCUKYAZI)</p>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="col-12 text-center">
                        <div class="custom-pagination">
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Contact-->

