@model IEnumerable<BitirmeProje.Models.BLOGLAR>

@{
    ViewBag.Title = "BlogListele";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>BlogListele</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "Olustur",null,new { @class="btn btn-danger"})
</p>
<table class="table table-active">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BLOGAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BLOGLOGO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KATEGORILER.KATEAD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UYELER.UYEAD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BLOGAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BLOGLOGO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KATEGORILER.KATEAD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UYELER.UYEAD)
        </td>
        <td>
            
            <a href="@Url.Action("Blogsil",new { id=item.BLOGID })" class="btn btn-danger">Delete</a> 
            <a href="@Url.Action("BlogDuzen",new { id=item.BLOGID })" class="btn btn-danger">Düzenle</a>
            <a target="_blank" href="@Url.Action("BlogIzle","Home",new { id=item.BLOGID })" class="btn btn-danger">Göster</a>
        </td>
    </tr>
}

</table>
