<!-- /*
* Tempalte aspnet mvc edit: Onur Doğan
* Template Name: Snap
* Template Author: Untree.co
* Tempalte URI: https://untree.co/
* License: https://creativecommons.org/licenses/by/3.0/
*/ -->
<!doctype html>
<html lang="tr">
<head>
    @Styles.Render("~/Content/css")
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <link href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600, 700,900|Oswald:400,700" rel="stylesheet">


    <link rel="stylesheet" href="~/Font/icomoon/style.css">
    <link rel="stylesheet" href="~/Font/flaticon/font/flaticon.css">

    
    <title>Hoşgeldiniz Ben Onur !</title>


</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="header-bar d-flex d-lg-block align-items-center site-navbar-target" data-aos="fade-right">
            <div class="site-logo">
                <a href="@Url.Action("index")">Onur Doğan</a>
            </div>

            <div class="d-inline-block d-lg-none ml-md-0 ml-auto py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle "><span class="icon-menu h3"></span></a></div>

            <div class="main-menu">
                <ul class="js-clone-nav">
                    <li><a href="#section-home" class="nav-link">Yukarı</a></li>
                    <a href="@Url.Action("index")" class="nav-link">Home</a>
                    @if (Session["uyem"] == null)
                    {

                        <li><a href="@Url.Action("login","Admin")" class="nav-link">Giriş yap</a></li>
                    }
                    else
                    {

                        <li><a href="@Url.Action("index","Admin")" class="nav-link">Admin Sayfası</a></li>
                    }

                    <li><a href="/Home/Index#section-about" class="nav-link">Bilgiler</a></li>
                    <li><a href="/Home/Index#section-blog" class="nav-link">Blog</a></li>
                    <li><a href="/Home/Index#section-contact" class="nav-link">İletişim</a></li>
                </ul>
                <ul class="social js-clone-nav">
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-linkedin"></span></a></li>
                </ul>
            </div>
        </header>
        <main class="main-content">

            <!--İlk Kısım Buraya Gelecek-->

            <div class="container-fluid site-section">

                @RenderBody()

                @{Html.RenderAction("Mesaj", "Home");}
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center py-5">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script><i>backend developer by Onur Doğan</i> All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> </a><!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>
                </div>
            </div>
        </main>

    </div> <!-- .site-wrap -->

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/jquery.stellar.min.js"></script>
    <script src="~/Scripts/jquery.countdown.min.js"></script>
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/aos.js"></script>
    <script src="~/Scripts/lozad.min.js"></script>


    <script src="~/Scripts/jquery.fancybox.min.js"></script>

    <script src="~/Scripts/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
</body>
</html>

